@{
    ViewData["Title"] = "Sources";
}
<h1>@ViewData["Title"]</h1>

<hr />
<h5>Image sources:</h5>
<div class="col-auto">
    <a class="link-dark" href="https://www.freepik.com/free-vector/gray-fluid-marble-texture-background_24243417.htm">Background image</a>
    <span class="text-dark mx-1">&middot;</span>
    <a class="link-dark" href="https://www.pexels.com/photo/red-and-black-bicycle-leaning-on-black-wall-5911709/">Homepage bike image</a>
    <span class="text-dark mx-1">&middot;</span>
    <a class="link-dark" href="https://www.vecteezy.com/free-photos/access-denied">Access Denied image</a>
    <span class="text-dark mx-1">&middot;</span>
    <a class="link-dark" href="https://icons.getbootstrap.com">Homepage icons</a>
    <span class="text-dark mx-1">&middot;</span>
    <a class="link-dark" href="https://icons8.com/icon/257/bicycle">Logo icon</a>
    <span class="text-dark mx-1">&middot;</span>
    <a class="link-dark" href="https://icons8.com/icon/188/wheel">Favicon</a>
</div>
