@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <img src="~/img/accessDenied.jpg" alt="Access Denied" class="img-fluid" style="width: 40%; max-width:
300px; min-width: 150px; height: auto;" />
</header>
